.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: large;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-bottom: 50px;
}
main {
  margin: 5px;
}

main #gauche {
  float: left;
  width: 49.5%;
  margin-right: 5px;
}

main #droite {
  margin-left: 50.5%;
}

main #gauche,
main #droite {
  border: 4px solid black;
  background-color: #aaa9a8;
  height: 610px;
  border-radius: 25px;
}
