<main>
  <div id="gauche" style="display: block;">
    <h1>Log file</h1>
    <p>Crossover method : {{ crossoverMethod }}</p>
    <p>Mutation method : {{ mutationMethod }}</p>
    <p>SelectionScheme : {{ selectionScheme }}</p>
    <p>Parents Selection method : {{ parentSelectionMethod }}</p>
    <p>Survivors Selection method : {{ survivorSelectionMethod }}</p>
  </div>
  <div id="droite" style="display: block;">
    <h1>Data file</h1>
    <p>{{ randomSeed }}</p>
    <p>{{ importantSessionRate }}</p>
    <p>{{ urgentSessionRate }}</p>
    <p>{{ nbSessionAppication }}</p>
    <p>{{ Horizon }}</p>
  </div>
</main>
