<main>
  <!--
  <div id="gauche" style="display: block;">
    <div
      id="chartAreaWrapper"
      style="
        width: 94%;
        overflow-x: scroll;
        overflow-y: auto;
        margin-left: 20px;
      "
    >
      <div id="chartMensurations" style="width: 3000px; height: 280px;">
        <canvas
          baseChart
          [datasets]="scatterChartData"
          [options]="scatterChartOptions"
          [chartType]="scatterChartType"
          (chartClick)="onChartClick($event)"
        >
        </canvas>
      </div>
    </div>
    <button
      id="triage"
      (click)="ageSortedScatterChart()"
      type="button"
      class="btn btn-danger border border-dark btn3d"
    >
      <span>Tri</span>
      <span>Age</span>
    </button>
    <button
      id="trifitness"
      (click)="fitnessSortedScatterChart()"
      type="button"
      class="btn btn-primary border border-dark btn3d"
    >
      <span>Tri</span>
      <span>Fitness</span>
    </button>
  </div>
  -->
  <div id="droite" style="display: block;">
    <div
      id="chartAreaWrapper"
      style="
        width: 97%;
        overflow-x: scroll;
        overflow-y: auto;
        margin-left: 20px;
      "
    >
      <div id="chartMensurations" style="width: 1550px; height: 350px;">
        <canvas
          height="300"
          width="0"
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</main>
<footer>
  <div id="fitness">
    <rg-gauge-chart
      [canvasWidth]="canvasWidth"
      [needleValue]="needleValueFitness"
      [centralLabel]="centralLabel"
      [options]="optionsFitness"
      [name]="nameFitness"
      [bottomLabel]="bottomLabelFitness"
    ></rg-gauge-chart>
    <p>({{ generation }})</p>
  </div>
  <div id="indicator">
    <div id="firstindicator">
      <div id="greenindicator" class="cyan darken-3 border border-dark">
        <span>Max global ({{ globalMax }})</span>
        <span>{{ globalFitnessMax }}</span>
      </div>
      <div id="greenindicator" class="cyan darken-3 border border-dark">
        <span>Min global ({{ globalMin }})</span>
        <span>{{ globalFitnessMin }}</span>
      </div>
      <div id="greenindicator" class="cyan darken-3 border border-dark">
        <span>Ecart-t max({{ indexMax }}) </span>
        <span>{{ gapMax }}</span>
      </div>
      <div id="greenindicator" class="orange border border-dark">
        <span>Generation</span>
        <span>{{ generation }}</span>
      </div>
    </div>
    <div id="secondindicator">
      <div id="redindicator" class="cyan lighten-5 border border-dark">
        <span>Max local</span>
        <span>{{ maxLocal }}</span>
      </div>
      <div id="redindicator" class="cyan lighten-5 border border-dark">
        <span>Min local</span>
        <span>{{ minLocal }}</span>
      </div>
      <div id="redindicator" class="cyan lighten-5 border border-dark">
        <span>Ecart-t min({{ indexMin }})</span>
        <span>{{ gapMin }}</span>
      </div>
      <div id="redindicator" class="orange lighten-5 border border-dark">
        <span>Temps</span>
        <span>0</span>
      </div>
    </div>
  </div>
  <div id="entropie">
    <rg-gauge-chart
      [canvasWidth]="canvasWidth"
      [needleValue]="needleValueEntropy"
      [centralLabel]="centralLabel"
      [options]="optionsEntropy"
      [name]="nameEntropy"
      [bottomLabel]="bottomLabelEntropy"
    ></rg-gauge-chart>
    <p>({{ generation }})</p>
  </div>
</footer>
