.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 5px;
}
/*
main #gauche {
  float: left;
  width: 49.5%;
  margin-right: 5px;
}
*/
main #droite {
  /*margin-left: 50.5%; */
  width: 100%;
}

main #gauche,
main #droite {
  border: 4px solid black;
  background-color: #aaa9a8;
  height: 100%;
  border-radius: 25px;
}

#triage {
  left: 175px;
  padding: 5px 30px;
}

div p {
  text-align: center;
  font-weight: normal;
  font-size: large;
}

#trifitness {
  left: 350px;
  padding: 5px 20px;
}

#triage,
#trifitness {
  display: inline-block;
  font-size: 12px;
  position: relative;
}

.btn3d {
  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
  -moz-outline-style: none;
  outline: medium none;
}

.btn3d:active,
.btn3d.active {
  top: 2px;
}

.btn3d.btn-primary {
  box-shadow: 0 0 0 1px #01505c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #01505c, 0 8px 8px 4px rgba(0, 0, 0, 0.7);
  background-color: #01505c;
}

.btn3d.btn-primary:active,
.btn3d.btn-primary.active {
  box-shadow: 0 0 0 1px #01505c inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #01505c;
}

.btn3d.btn-danger {
  box-shadow: 0 0 0 1px #ff9300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #ff9300, 0 8px 8px 4px rgba(0, 0, 0, 0.7);
  background-color: #ff9300;
}

.btn3d.btn-danger:active,
.btn3d.btn-danger.active {
  box-shadow: 0 0 0 1px #ff9300 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, 0.3);
  background-color: #ff9300;
}

#firstindicator {
  margin-top: 10px;
  height: 100px;
}

#secondindicator {
  height: 60px;
}

#firstindicator,
#secondindicator {
  width: 800px;
  position: relative;
  left: 5.5%;
}

#greenindicator {
  margin: 5px 15px 0px 5px;
}

#redindicator {
  margin: 15px 15px 0px 5px;
}

#redindicator,
#greenindicator {
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: large;
  width: 170px;
  height: 90px;
  border-radius: 25px;
  display: table;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

#redindicator span,
#greenindicator span {
  display: block;
  padding-top: 10px;
}

button span {
  display: block;
}
#entropie {
  margin: 10px 0px 10px 7%;
}

#fitness {
  margin: 10px 5% 10px 4%; /* top right bottom left */
}

#entropie,
#fitness {
  background-color: #d2f1ef;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.7);
}

#entropie,
#fitness,
#indicator {
  display: inline-block;
  vertical-align: top;
}
