<div class="wrapper">
  <header>
    <img id="MIS" class="img-responsive" src="assets/images/LogoMIS.png" />

    <div id="text">
      <p>LORH_BLOC_OP_1_0_0_0_1165820616</p>
      <button
        type="button"
        id="button_play"
        class="btn cyan lighten-5 border border-dark"
      >
        <i class="fa fa-play"></i>
      </button>

      <button
        type="button"
        id="button_stop"
        class="btn cyan lighten-5 border border-dark"
      >
        <i class="fa fa-stop"></i>
      </button>
      <button
        pButton
        label="Contact"
        class="btn cyan lighten-5 border border-dark"
        (click)="isOn = false"
      >
        Caractéristiques Instance
      </button>
      <button
        pButton
        label="Results"
        class="btn cyan lighten-5 border border-dark"
        (click)="isOn = true"
      >
        Algorithme
      </button>
    </div>
    <img id="upjv" class="img-responsive" src="assets/images/logoupjv.png" />
  </header>
  <app-charts *ngIf="isOn"></app-charts>
  <app-characteristics *ngIf="!isOn"></app-characteristics>
</div>
