header p {
  font-size: 21px;
  font-family: sans-serif;
  margin: 0;
}

img {
  max-width: 150px;
  max-height: 100px;
  margin-top: 5px;
}

button {
  margin-top: 30px;
}

#upjv {
  margin-left: 17%;
}

#MIS {
  margin-left: 11%;
}

#text {
  margin-left: 16%;
}

#text,
img {
  float: left;
}
