/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
}

header {
  height: 120px;
  margin: 5px;
  background-color: #01505c;
  border: 4px solid black;
  border-radius: 25px;
  text-shadow: 0px 0px 7px #ffffff;
  text-align: center;
  color: rgb(255, 255, 255);
}

main {
  flex: 1;
}

footer {
  margin: 5px;
  background-image: linear-gradient(rgb(199, 199, 199), rgb(141, 141, 141));
  color: black;
  font-size: 0;
  border: 4px solid black;
  border-radius: 25px;
}
